.proposalStatusBar {
  display: flex;
  justify-content: space-evenly;
}
.allJobShowing {
  display: flex;
  justify-content: end;
}
.titleLink:hover {
  text-decoration: underline;
  color: #766df4 !important;
}


.searchBtn {
  width: 50px;
}
.searchBtn .btn {
  border-radius: 0px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.searchInput {
  display: flex;
}

.filter-search-form {
  width: 80%;
}
.filler-job-input-box {
  border-radius: 0px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
