.show-more-icon {
  position: absolute;
  right: 22px;
  /* top: 22px; */
  bottom: 10px;
}
.moreLink {
  text-decoration: underline;
}
.linkSubProfile {
  text-decoration: none;
}
.mbutton {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  text-decoration: underline;
  color: initial;
  border: aliceblue;
  background-color: white;
}
.candidateProfile {
  display: flex;
}
.job-description {
  font-weight: 500;
}
.perPage {
  min-width: 300px;
}
.perPageDiv {
  display: flex;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
